<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace="~{layout/layout :: head}">
		<title>Insert title here</title>
	</head>
	
	<body>
	
		<section th:fragment="addNote">
			<div id="addNote" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-warning custom-yellow">
							<h5 class="modal-title"> [[#{actions.add-note}]] </h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form th:action="@{/saveNote}" th:object="${note}" method="POST" class="was-validated">
							<div class="modal-body">
								<div class="form-group mb-4">
									<label for="date"> [[#{note.date}]] [[#{actions.optional}]] </label>
									<input type="date" class="form-control" name="date">
								</div>
								<div class="form-group mb-4">
									<label for="time"> [[#{note.time}]] [[#{actions.optional}]] </label>
									<input type="time" class="form-control" name="time">
								</div>
								<div class="form-group mb-4">
									<label for="title"> [[#{note.title}]] </label>
									<input type="text" class="form-control" name="title" required>
								</div>
								<div class="form-group mb-4">
									<label for="content"> [[#{note.content}]] </label>
									<textarea class="form-control" name="content" required></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-warning custom-yellow" type="submit"> [[#{actions.save}]] </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	
	</body>
	
</html>