<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace="~{layout/layout :: head}">
		<title>Insert title here</title>
	</head>
	
	<body>
	
		<section th:fragment="buttonsLayout" sec:authorize="isAuthenticated()" class="py-4 mb-4">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<a href="#" data-bs-toggle="modal" data-bs-target="#addContact" class="btn btn-warning custom-yellow w-100">
							<i class="fas fa-plus"></i> [[#{actions.add-contact}]]
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" data-bs-toggle="modal" data-bs-target="#addNote" class="btn btn-warning custom-yellow w-100">
							<i class="fas fa-plus"></i> [[#{actions.add-note}]]
						</a>
					</div>
				</div>
			</div>
		</section>
		
	</body>
	
</html>