<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
    <head th:replace="~{layout/layout :: head}">
        <title>Login</title>
    </head>
    
    <body>
    
    	<header th:replace="~{layout/layout :: header}"></header>
    
    	<div th:if="${param.error}" class="text-center mt-4">
            [[#{login.error}]]
        </div>
        <div th:if="${param.logout}" class="text-center mt-4">
            [[#{logout.action}]]
        </div>
    	
    	<section id="login">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-6 mx-auto mt-4">
    					<div class="card">
    						<div class="card-header bg-warning custom-yellow">
    							<h4>Login</h4>
    						</div>
    						<div class="card-body">
    							<form th:action="@{/login}" method="post">
							        <div class="form-group row pb-2">
							            <label class="col-form-label">Username:</label>
							            <div>
							                <input type="text" name="username" class="form-control"/>
							            </div>
							        </div>
							        <div class="form-group row pb-2">
							            <label class="col-form-label">Password:</label>
							            <div>
							                <input type="password" name="password" class="form-control"/>
							            </div>
							        </div>
							        <div>
							        	<input type="submit" value="Login" class="btn btn-warning custom-yellow mt-4 w-100"/>
							        </div>
							    </form>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	
    	<footer th:replace="~{layout/layout :: footer}"></footer>
    	
    </body>
    
</html>